.buttonGroup {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.cell {
    display: block;
    border-width: 1px;
    border-style: solid;
    margin: 1em;
    padding: 1em;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}