.card {
    display: grid;
    margin: 1em;
    padding: 1em;
}

.card h2 {
    grid-area: title;
}

.card img {
    grid-area: img;
    align-self: center;
    width: 300px;
}

.card span {
    grid-area: span;
    margin: 0;
}

.horizontal {
    grid-template-areas:
        "img title"
        "img span";
}

.vertical {
    grid-template-areas:
        "title"
        "img"
        "span";
}

.mirror {
    grid-template-areas:
        "title img"
        "span img";
}

.border {
    border-width: 1px;
    border-style: solid;
}
