.interactive-body {
    display: grid;
    grid-template-columns: 300px auto;
    margin: 0 10%;
}

.cards-container {
    flex: 80%;
}

.accordion {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px black solid;
    transition: 0.4s;
    padding: 18px 8px 8px 8px;
    width: 100%;
}

.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.panel-active {
    max-height: 100%;
}

.panel li {
    margin: 0;
    list-style: none;
}

.panel ul {
    padding: 0;
}

.toggle-container {
    display: grid;
    grid-template-columns: 300px 300px auto;
    margin: 0 10%;
}

.toggle-option {
    display: inline-block;
    font-size: 32px;
    font-weight: 900;
    margin: 10px;
}

.select-container {
    display: grid;
    grid-template-columns: 300px 300px auto;
    margin: 0 10%;
}

.select-option {
    display: inline-flex;
    float: left;
    margin: 10px;
}
