.accordion {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px black solid;
    transition: 0.4s;
    padding: 18px 8px 8px 8px;
    width: 100%;
}

.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
}

.panel-active {
    max-height: 100%;
}

.panel li {
    margin: 0;
    list-style: none;
}

.panel ul {
    padding: 0;
}
