.learnmore a {
    display: inline-block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
}

.cell {
    position: relative;
    display: block;
    margin: 1em;
    padding: 1em;
    min-height: 400px;
    border-width: 1px;
    border-style: solid;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

