.orange-chip {
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    background: white;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 24px;
    padding: 8px 16px;
    margin-right: 16px;
    margin-bottom: 1rem;
    width: fit-content;
}

.orange-chip.active {
    border: 0px;
    background: orange;
}

.orange-chip.active:hover {
    opacity: 0.85;
}

.orange-chip.inactive:hover {
    border-color:orange;
    background-color: orange;
    opacity: 0.85;
}

.orange-chip-svg:hover {
    fill: gray;
}

.icon-padding-left {
    padding-left: 8px;
}