.nav {
    display: block;
    position: fixed;
    background: #011140;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.nav img {
    position: relative;
    left: 10vw;
    width: 3em;
    height: 3em;
}

.navbar {
    position: absolute;
    right: 10vw;
    margin: 1em;
}

.navbar span {
    display: inline;
    margin: 0 1em;
    color: white;
}

.navbar span:hover {
   color: #2C7BBF;
}

.navbar span:active{
    color: #2C7BBF;
}