.header {
    padding: 3em 10vw;
    background: #011140;
    position: relative;
    width: 100%;
}

.header h1 {
    color: white;
}

.body {
    position: relative;
    display: inline-block;
    margin: 0 10vw;
}

.landinghead{
    background: #011140;
    width: 32vw;
    margin-left: 3vw;
    margin-right: 25vw;
    font-size: 24px;
    padding: 3em 10vw;
}

.button1 button{
    padding:16px;
    color:white;
    background-color: #2C7BBF;
    border-width: 0px;
    border-radius: 10vw;
    width: 15vw;
}

.button1 button:hover{
    background-color:#FFB84E;
    color:black;
}

.button2 button{
    padding:16px;
    color:white;
    background-color: transparent;
    border-color: white;
    border-radius: 10vw;
    width: 15vw;
}

.button2 button:hover{
    border-color: #FFB84E;
    color: #FFB84E;
}

.button2 {
    display: flex;
    flex-direction: row;
}

.buttongrp button{
    display: inline-block;
}

.button1{
    margin-right: 30px;
    float: left;
}

.header img{
    position: absolute;
    opacity: 80%;
}

.header img:first-of-type{
    margin-left: 12vw;
    position: absolute;
    margin-top: -5vw;
    opacity: 80%;
}