.header {
    padding: 3em 10vw;
    background: #011140;
    position: relative;
    width: 100%;
}

.header h1 {
    color: white;
}

.body {
    position: relative;
    display: inline-block;
    margin: 0 10vw;
}

.landinghead{
    background: #011140;
    width: 32vw;
    margin-left: 3vw;
    margin-right: 25vw;
    font-size: 24px;
    padding: 3em 10vw;
}


.header img{
    position: absolute;
    opacity: 80%;
}

.header img:first-of-type{
    margin-left: 12vw;
    position: absolute;
    margin-top: -5vw;
    opacity: 80%;
}